 * {
 	/*CSS-Reset removes default margin and padding set ny browser for more control*/
 	margin: 0;
 	padding: 0;
 	/*
		by default , css boxes addds the padding and border on top of height and width

		box-sizing: content-box;(default)
			-The computation of height and width is not accurate.

		box-sizing: border-box
			-padding and border are now part or accounte to the overall  height and width

 	*/

 	box-sizing: border-box;

 }


#box1 {

	background-color: red;
/*	margin: 10px;
*/
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 40px;

	/* border is the line between margin and padding */

	/*border: 2px solid black;*/
	border-top: 2px solid black;
	border-left: 5px solid green;
	border-right: 10px solid orange;
	border-bottom: 2px solid black;
	/*padding is space within the border inside your elemet*/
	/*padding: 10px;*/

	padding-top: 5px;
	padding-left: 3px;
	padding-right: 20px;
	padding-bottom: 30px;

	

	/*height: 100px;
	width: 100px;*/

	

}

#box2 {

	background-color: orange;
	border: 2px solid black;
	height: 100px;
	width: 100px;
}

#box3 {
	/*
		Block elements like div, headings, section, main , paragrph breaks the line.
		If height and width is not set , it will occupy the full width of its parent
	*/


	background-color: yellowgreen;
	border: 2px solid black;
	width: 100px;

}

#span1 {

	/*
		Inline elements like span,a,img,etc does not break the line and are 
		presented side by side.Occuoy space based on the overall size of its content.
		height and width cannot be set


		Inline-block elements are displayed side by side like inline elemnt
		We can set height and width
	*/


	background-color: purple;
	/*border works correctly in an inline element*/
	border: 2px solid black;
	/*you cannot set the height*/
	display: inline-block;
	height: 100px;
	width: 100px;
	/*margin is only applied to left and right*/
	/*margin: 20px;*/
	/*padding: 30px;*/
	/*paddding is only displayed properly on the right and left side*/
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: top;
}

#span2 {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	background-color: yellow;
	border: 2px solid black;
}

#box4 {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	background-color: pink;
	border: 2px solid black;
}