/*CSS Reset 0 thedefault paddings and margin of the browser*/
* {
	margin: 0;
	padding: 0;
	/*default font*/
	font-family: 'Open Sans', sans-serif;
	/*box-sizing*/
	box-sizing: border-box;

}

nav {
	padding: 0.8rem;/* 0.8 x 16px(defaul font size) =12.8px*/
	margin-bottom: 2rem;/*2 x 16px(default) = 32px*/
	border-bottom: 1px solid gray;

}

/*, - multiple selector =target elements by uing multiple combinators
	and selectors
*/
nav .nav, nav .nav-logo {

	margin: 0.5rem;

	/*li by defaults are block. We can display our li as inline by using display property*/

	display: inline;

}

/*intro section*/
#intro {
	/*using percentage are good practice for mobile responsiveness,
	  it occupies the full width of the screen. the precentage size will
	  adjust according to the screen	  
	*/

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*text-align:  align the text and inline elements for all the children of the element where 
		the text-align
	*/
	text-align: center;
}
.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {

	color: white;
	/* font-weight: determine the thickness of font */
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;	
}
#intro button:hover{
	background-color: skyblue;
}

/*info section*/

#succeed-info {
	/*padding and margin shorthand
		
		padding/margin: value ;= all sodes	
		padding/margin: top x-axis(left and right)	bottom; = 3 values
		padding/margin: y-axis(top and bottom) x-axis(left and right) = 2 values	
		padding/margin:  top right bottom left ; = 4 values
	
	*/
	padding: 2rem 10% 3rem ;
}

#succeed-info h2 {

	margin-bottom: 1rem;
}

#succeed-info .card {

	display: inline-block;
	/*border: 2px solid black;*/
	/*width: 30%; divide the full width of the section into 3*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5 rem;
	/*vertical-align: top; align our inline-block elements vertically from the top*/
	vertical-align: top;
	/*if the current height of the element does not reach our min-height, the height of
	  the element will be set to the value of our min-height
	*/
	min-height: 175px;


}
#succeed-info h3{

	text-align: center;
	margin-bottom: 1rem;
}
/*pre-footer*/

#pre-footer {
	padding: 1rem;
	background-color: #002540;
	color: white;
}

#pre-footer > div {

	display: inline-block;
	width: 20%;
	vertical-align: top;
}

/*Select all the children of the div inside pre-footer*/

#pre-footer > div > * {

	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

footer {
	padding: 0.7rem;
}
footer span	{

	margin-left: 0.5rem;
	margin-right: 0.5rem;
}